:root{
    --menuColor:rgb(233, 255, 255);
    --menuHoverColor:rgb(245, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
}
a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.menuPrincipal{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* min-width: 700px; */
    height: 10vh;
    min-height: 20px;
}
.menuPrincipal li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    width: 10%;
    min-width: 50px;
    height: 100%;
    background-color: var(--menuColor);
    transition: background-color .2s;
}
#menuIcon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuBars {
    width: 3vw;
    height: 1vh;
    background-color: black;
    margin: 8% 0;
}
.menuPrincipal li:hover{
    background-color: var(--menuHoverColor);
}
#buttonMenu:hover{
    background-color: var(--menuHoverColor);
}
.menuEscondido{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 10%;
    min-width: 50px;
    height: 90%;
    min-height: 200px;
    transform: translateX(-200%);
}
.menuEscondido li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--menuColor);
    font-size: 2vw;
    width: 100%;
    height: 10%;
    transition: transform .2s;
}
#btn{
    position: relative;
    opacity: 0;
    height: 100%;
    width: 100%;
}
#btn:checked + label > ul li {
    transform: translateX(100%);
}